<div id="<%= dom_id shipping %>">
  <p>
    <strong>Order:</strong>
    <%= shipping.order_id %>
  </p>

  <p>
    <strong>Pickup location:</strong>
    <%= shipping.pickup_location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipping.status %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= shipping.created_at %>
  </p>

</div>
