<div id="<%= dom_id promo_banner %>">
  <p>
    <strong>Title:</strong>
    <%= promo_banner.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promo_banner.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= promo_banner.image_url %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= promo_banner.active %>
  </p>

</div>
