<!-- Header -->
<div id="header">
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><%= image_tag asset_path('logo_spssol.png'), size: "200x50" %></li>
      <li><a>SPŠS OLOMOUC Merch</a></li>
      <li class="current"><%= link_to "Domů", root_path %></li>
      <li><a href="#">Mikiny</a></li>
      <li><a href="#">Trička</a></li>
      <li><a href="#">Obuv</a></li>
      <li><a href="#">Doplňky</a></li>


      <% if signed_in? %>
        <% if current_user.admin? %>
          <li>
            <a href="#">Administrace</a>
            <ul>
              <li><%= link_to "Kategorie", categories_path %></li>
              <li><%= link_to "Produkty", products_path %></li>
              <li><%= link_to "PŘIDAT PRODUKT", new_product_path %></li>
              <li><%= link_to "Zásoby", stocks_path %></li>
              <li><hr></li>
              <li><%= link_to "Slevy", discounts_path %></li>
              <li><%= link_to "Promo banery", promo_banners_path %></li>
              <li><hr></li>
              <li><%= link_to "Objednávky", orders_path %></li>
              <li><%= link_to "Shipping", shippings_path %></li>
              <li><%= link_to "Platby", payments_path %></li>
              <li><hr></li>
              <li><%= link_to "Uživatelé", users_path %></li>

<!--              <li>-->
<!--                <a href="#">Submenu</a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Lorem dolor</a></li>-->
<!--                  <li><a href="#">Phasellus magna</a></li>-->
<!--                  <li><a href="#">Magna phasellus</a></li>-->
<!--                  <li><a href="#">Etiam nisl</a></li>-->
<!--                  <li><a href="#">Veroeros feugiat</a></li>-->
<!--                </ul>-->
<!--              </li>-->
              <li><a href="#">Veroeros feugiat</a></li>
            </ul>
          </li>
        <% end %>
        <li><a><%= current_user.email %></a></li>
        <li><%= button_to "Sign out", sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", sign_in_path %></li>
      <% end %>
    </ul>
  </nav>

</div>