<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MIKOshop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <%= render 'layouts/header' %>

      <div id="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
      </div>

      <!-- Main -->
      <section class="wrapper style1">
        <div class="container">
          <div id="content">

            <!-- Content -->

            <!-- Highlights -->
            <section class="wrapper style1">
              <div class="container">
                <div class="row gtr-200">

                  <%= yield %>

                </div>
              </div>
            </section>

          </div>
        </div>
      </section>


      <%= render 'layouts/footer' %>
    </div>

    <!-- Scripts -->
    <script src="<%= asset_path('jquery.min.js') %>"></script>
    <script src="<%= asset_path('jquery.dropotron.min.js') %>"></script>
    <script src="<%= asset_path('browser.min.js') %>"></script>
    <script src="<%= asset_path('breakpoint.min.js') %>"></script>
    <script src="<%= asset_path('util.js') %>"></script>
    <script src="<%= asset_path('main.js') %>"></script>
  </body>
</html>
